.collection-preview {
    display: flex;
    flex-direction: column;
    // margin-bottom: 30px;
    margin-top: 5rem;


    .title {
        // width: 70px;
        font-size: 50px;
        margin-bottom: 25px;
        text-align: center;


    }

    .preview {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

.view-button {
    margin: 20px 55px;
    background-color: #ff523b;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px 30px;

}

@media only screen and (max-width: 800px) {

    .collection-preview {
        .title {
            margin-bottom: 0px;
        }
    }
}