.collection-preview {
    display: flex;
    flex-direction: column;
    // margin-bottom: 30px;
    margin-top: 5rem;


    .title {
        font-size: 28px;
        margin-bottom: 25px;
        text-align: center;

    }

    .preview {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {

    .collection-preview {
        .title {
            margin-bottom: 0px;
        }
    }
}