.sign-in-and-sign-out {
    // width: 850px;
    display: flex;
    justify-content: space-around;

    margin: 30px;
    margin-top: 9rem;


}


@media screen and (max-width:800px) {
    .sign-in-and-sign-out {
        flex-direction: column;
        margin: 0;
        margin-top: 9rem;
    }
}