.cart-icon {
    height: 50px;
    width: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .shopping-icon {
        // width: 24px;
        // height: 24px;
        color: white;
        font-size: 40px;
    }

    .item-count {
        position: absolute;
        font-weight: bolder;
        font-size: 15px;
        bottom: 20px;
        left: 30px;
        color: white;
        background-color: aliceblue;
        color: black;
        padding: 5px;
        border-radius: 50%;

    }

}

@media screen and (max-width:800px) {
    .cart-icon {

        .shopping-icon {
            font-size: 28px;
        }
        .item-count{
            padding: 3px;
        }
    }

}