.big-container {
    max-width: 1330px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    /* background-color: green; */
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.brands {
    margin: 100px auto;

}

.col-5 {
    margin-left: 20px;
    width: 180px;

}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(70%);
    height: 20px;
    width:100px;

}

.col-5 img:hover {
    filter: grayscale(0);
}
@media only screen and (max-width:800px){

    .col-5{
        margin-top: 20px;
    }
}