.header {
    height: 70px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;


    .logo-container {
        width: 50px;
        height: 70px;
        padding: 25px;

    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 40px;

        .option {
            padding: 10px 15px;
            cursor: pointer;
        }
    }
    .like-icon{
        font-size: 25px;
    }

}