.collection-item {
    width: 17vw;
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    position: relative;

    .image {
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
        // margin-bottom: 4px;
    }

    .custom-button {
        position: absolute;
        top: 275px;
        opacity: 0.7;
        width: 80%;
        display: none;
    }

    &:hover {
        .image {
            opacity: 0.8;
        }

        .custom-button {
            opacity: 0.85;
            display: flex;
        }

    }

    .collection-footer {
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 22px;
        // background-color: #2874f0;
        // padding: 10px;
        align-items: flex-start;
        color: white;
        color: black;


    }

    .name {
        // width: 90%;
        // margin-left: 10px;
        margin-bottom: 5px;
    }

    .price {
        // width: 40%;

        .price-icon {
            font-size: 15px;
        }
    }

    .like-icon {
        font-size: 50px;
        cursor: pointer;
        position: relative;
        top: 44px;
        left: 106px;
        background-color: black;
        background-color: rgb(90, 84, 84);
        background-color: white;
        border: 1px solid black;
        color: #ff523b;
        z-index: 1;
        padding: 10px;
    }


}

@media screen and (max-width:800px) {
    .collection-item {
        width: 80vw;


        .like-icon {

            left: 126px;
        }

        .collection-footer {
            font-size: 18px;
        }
    }
}