/* body { */
/* font-family: 'Sofia S/ans Condensed', sans-serif; */
/* margin: 20px; */
/* width: 100%; */
/* overflow-x:hidden; */

/* } */

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}